<div class="main">
  <div id="champion-grade"class="bar-chart">
    <h1>Champioins With Each Max Grade</h1>
    <%= bar_chart @data_grade, @options %>
  </div>
  <div id="champion-level" class="bar-chart">
    <h1>Champions at Each Level</h1>
    <%= bar_chart @data_level, @options %>
  </div id="next-level" class="scroll-table">
  <div>
  </div>
  <div id="earned-chest" class="scroll-table">
  </div>
</div>
