<div class="main">
  <div id="champion-grade"class="bar-chart">
    <h1>Champioins With Each Max Grade</h1>
    <%= bar_chart @data_grade, @options %>
  </div>
  <div id="champion-level" class="bar-chart">
    <h1>Champions at Each Level</h1>
    <%= bar_chart @data_level, @options %>
  </div id="next-level" class="scroll-table">
  <div>
  </div>
  <div id="earned-chest" class="scroll-table">
  </div>
</div>
<br>
<footer id='disclaimer' class'text-center'>
  <p>Champion Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</footer>
