<div class="main container">
  <div id="champion-level" class="bar-chart row">
    <div class='col-xs-offset-4'>
      <h1>Champions at Each Level</h1>
      <%= bar_chart @data_level, @options %>
    </div>
  </div>
  <div id="scroll-lists" class="row">
    <div id="next-level" class="col-xs-offset-3 col-xs-2">
      <hi>Champions Close to Next Level</h1>
      <ul class="scroll">
        <% @next_champ_level.each do |champ| %>
          <li><%=image_tag (champ.fetch(:img)), title:champ.fetch(:title)%></li>
        <% end %>
      </ul>
    </div>
    <div id="earned-chest" class="col-xs-offset-2 col-xs-2">
      <hi>Champions Who Unlocked Chests</h1>
      <ul class="scroll">
        <% @mystery_chest.each do |champ| %>
          <li><%=image_tag (champ.fetch(:img)), title:champ.fetch(:title)%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<footer id='disclaimer' class'text-center'>
  <p>Champion Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</footer>
