<%
options = %w(na br eune euw jp kr lan las oce pbe ru tr)
%>
<div class='form-parent container'>
  <%= form_for :person do |f| %>
    <div class='form-component region-select row'>
      <p class='col-xs-2 col-xs-offset-4'>Select Region: <p><%= f.select :region, options.map { |v| [v.upcase, v] },class:'col-xs-2' %><br />
    </div>
    <div class='form-component summoner-name row'>
      <p class='col-xs-2 col-xs-offset-4'>Summoner Name:<p> <%= f.text_field :sumName, class:'col-xs-2' %><br />
    </div>
    <div class='form-component submit row'>
      <%= f.submit "Get Stats", class:'btn-large submit col-xs-4 col-xs-offset-4'%>
    </div>
    <% end %>
</div>
<footer>
  <p>Champion Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</footer>
