<%
options = %w(na br eune euw jp kr lan las oce pbe ru tr)
%>
<div>
  <%= form_for :person do |f| %>
    Select Region: <%= f.select :region, options.map { |v| [v.upcase, v] } %><br />
    Enter Summoner Name: <%= f.text_field :sumName %><br />
    <%= f.submit "Get Stats"%>
    <% end %>
</div>
<div>
  <p>Champion Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</div>
