// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.bar-chart {
  font-size: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.scroll {
  list-style-type: none;
  overflow:hidden;
  overflow-y:scroll;
  height:200px;
}
.center-text {
    text-align: center;
    border: 3px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#champion-level {
  float:center;
  padding-left: 40px;
  padding-right: 40px;
}

#disclaimer {
  float:center;
  clear:both;
}

.col-8{
width: 12.5%;
}

.championRow{
  margin-top:10px;
}
